{% extends 'base.html.twig'%}

{%block title %} Mon Agence {% endblock %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Agence Lorem Ipsum</h1>
    <p> 
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Placeat voluptates nisi eum quod facere, similique reprehenderit consectetur natus, 
    aspernatur pariatur, dolorem odio. Mollitia, commodi nam! Ex eligendi temporibus dicta iusto.
    </p>
</div>
{% endblock %}